#root {
  width: 100%;
}

.custom-google-autocomplete {
  background-image: none !important;
}

.pac-container {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.pac-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f3f4f6;
}

.pac-icon {
  display: none;
}